<h3>Loading the initial data</h3>

In [146]:
import pandas as pd
import numpy as np

In [147]:
ds = pd.read_excel('ml_project1_data.xlsx')
ds.set_index('ID', inplace=True)

<h3>Brief exploration</h3>

In [148]:
print(ds.info(), "\nResponse rate: {}%".format(round(100*ds["Response"].mean(), 2)))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2240 entries, 6862 to 8720
Data columns (total 28 columns):
Year_Birth             2240 non-null int64
Education              2240 non-null object
Marital_Status         2240 non-null object
Income                 2216 non-null float64
Kidhome                2240 non-null int64
Teenhome               2240 non-null int64
Dt_Customer            2240 non-null object
Recency                2240 non-null int64
MntWines               2240 non-null int64
MntFruits              2240 non-null int64
MntMeatProducts        2240 non-null int64
MntFishProducts        2240 non-null int64
MntSweetProducts       2240 non-null int64
MntGoldProds           2240 non-null int64
NumDealsPurchases      2240 non-null int64
NumWebPurchases        2240 non-null int64
NumCatalogPurchases    2240 non-null int64
NumStorePurchases      2240 non-null int64
NumWebVisitsMonth      2240 non-null int64
AcceptedCmp3           2240 non-null int64
AcceptedCmp4           2240 non-null int64
AcceptedCmp5           2240 non-null int64
AcceptedCmp1           2240 non-null int64
AcceptedCmp2           2240 non-null int64
Complain               2240 non-null int64
Z_CostContact          2240 non-null int64
Z_Revenue              2240 non-null int64
Response               2240 non-null int64
dtypes: float64(1), int64(24), object(3)
memory usage: 507.5+ KB
None
Response rate: 14.91%

How many rows can we delete?

In [149]:
len(ds)*0.03

67.2

Getting the indexes (idx) for categorical/dummy and numerical variables:

In [150]:
ds.columns

Index(['Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

In [154]:
cat_or_dummy_vars=['Education','Marital_Status','Kidhome','Teenhome','AcceptedCmp3','AcceptedCmp4','AcceptedCmp5',
                'AcceptedCmp1', 'AcceptedCmp2','Complain' ,'Response'] 

numerical_var=['Year_Birth','Income','Dt_Customer','Recency','MntWines','MntFruits','MntMeatProducts','MntFishProducts',
              'MntSweetProducts','MntGoldProds','NumDealsPurchases','NumWebPurchases','NumCatalogPurchases','NumStorePurchases',
              'NumWebVisitsMonth']

### Fixing datatype consistencies:

In [152]:
#Turning dates into date type:
ds.Dt_Customer=pd.to_datetime(ds['Dt_Customer'].str.replace('-',''),format='%Y%m%d',errors='ignore')

<h3>Finding duplicated rows</h3>

With the target variable

In [5]:
np.sum(ds.duplicated())

182

In [6]:
ds[ds.duplicated(keep=False)].sort_values(ds.columns.tolist())

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
ID,,,,,,,,,,,,,,,,,,,,,
2968,1943,PhD,Divorced,48948.0,0,0,2013-02-01,53,437,8,...,6,1,0,0,0,0,0,3,11,1
8800,1943,PhD,Divorced,48948.0,0,0,2013-02-01,53,437,8,...,6,1,0,0,0,0,0,3,11,1
4939,1946,Graduation,Together,37760.0,0,0,2012-08-31,20,84,5,...,7,0,0,0,0,0,0,3,11,0
8652,1946,Graduation,Together,37760.0,0,0,2012-08-31,20,84,5,...,7,0,0,0,0,0,0,3,11,0
10562,1946,Master,Married,66835.0,0,0,2013-09-28,21,620,26,...,2,0,0,0,0,0,0,3,11,0
7881,1946,Master,Married,66835.0,0,0,2013-09-28,21,620,26,...,2,0,0,0,0,0,0,3,11,0
455,1946,PhD,Married,51012.0,0,0,2013-04-18,86,102,9,...,6,0,0,0,0,0,0,3,11,0
7592,1946,PhD,Married,51012.0,0,0,2013-04-18,86,102,9,...,6,0,0,0,0,0,0,3,11,0
2114,1946,PhD,Single,82800.0,0,0,2012-11-24,23,1006,22,...,3,0,0,1,1,0,0,3,11,1
4261,1946,PhD,Single,82800.0,0,0,2012-11-24,23,1006,22,...,3,0,0,1,1,0,0,3,11,1
5529,1946,PhD,Together,64014.0,2,1,2014-06-10,56,406,0,...,7,0,0,0,1,0,0,3,11,0
4001,1946,PhD,Together,64014.0,2,1,2014-06-10,56,406,0,...,7,0,0,0,1,0,0,3,11,0
3867,1947,PhD,Together,73059.0,0,1,2013-08-31,36,410,112,...,4,0,0,0,0,0,0,3,11,0
3859,1947,PhD,Together,73059.0,0,1,2013-08-31,36,410,112,...,4,0,0,0,0,0,0,3,11,0
4107,1948,PhD,Together,46681.0,0,2,2013-10-08,52,269,15,...,5,0,0,0,0,0,0,3,11,0
10906,1948,PhD,Together,46681.0,0,2,2013-10-08,52,269,15,...,5,0,0,0,0,0,0,3,11,0
202,1948,PhD,Widow,82032.0,0,0,2014-04-05,54,332,194,...,1,0,0,0,0,0,0,3,11,0
9589,1948,PhD,Widow,82032.0,0,0,2014-04-05,54,332,194,...,1,0,0,0,0,0,0,3,11,0
9323,1949,Master,Together,49912.0,0,1,2012-09-07,5,520,8,...,8,1,0,0,0,0,0,3,11,1
1146,1949,Master,Together,49912.0,0,1,2012-09-07,5,520,8,...,8,1,0,0,0,0,0,3,11,1
716,1949,PhD,Together,67911.0,0,1,2014-05-22,63,529,0,...,3,0,0,0,0,0,0,3,11,0
6544,1949,PhD,Together,67911.0,0,1,2014-05-22,63,529,0,...,3,0,0,0,0,0,0,3,11,0
4186,1950,Graduation,Together,34026.0,1,1,2013-08-05,11,18,6,...,5,0,0,0,0,0,0,3,11,0
1419,1950,Graduation,Together,34026.0,1,1,2013-08-05,11,18,6,...,5,0,0,0,0,0,0,3,11,0
6245,1950,PhD,Together,59292.0,0,1,2013-06-13,71,378,14,...,3,0,0,0,0,0,0,3,11,0
8780,1950,PhD,Together,59292.0,0,1,2013-06-13,71,378,14,...,3,0,0,0,0,0,0,3,11,0
7485,1950,PhD,Widow,56551.0,1,1,2014-05-07,48,67,4,...,4,0,0,0,0,0,0,3,11,0
7530,1950,PhD,Widow,56551.0,1,1,2014-05-07,48,67,4,...,4,0,0,0,0,0,0,3,11,0
4646,1951,2n Cycle,Married,78497.0,0,0,2013-12-01,44,207,26,...,2,0,0,0,1,0,0,3,11,0
6935,1951,2n Cycle,Married,78497.0,0,0,2013-12-01,44,207,26,...,2,0,0,0,1,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10643,1987,PhD,Single,42000.0,0,0,2013-01-10,23,124,83,...,5,0,0,0,0,0,0,3,11,1
6318,1988,Graduation,Married,68487.0,0,0,2013-01-13,48,758,12,...,4,0,0,0,0,0,0,3,11,0
5396,1988,Graduation,Married,68487.0,0,0,2013-01-13,48,758,12,...,4,0,0,0,0,0,0,3,11,0
10981,1988,Graduation,Married,84219.0,0,0,2014-02-02,27,434,137,...,1,0,0,0,0,0,0,3,11,0
486,1988,Graduation,Married,84219.0,0,0,2014-02-02,27,434,137,...,1,0,0,0,0,0,0,3,11,0
10172,1988,Graduation,Single,68655.0,0,0,2012-08-10,95,456,19,...,3,0,0,0,0,0,0,3,11,0
6729,1988,Graduation,Single,68655.0,0,0,2012-08-10,95,456,19,...,3,0,0,0,0,0,0,3,11,0
8867,1988,PhD,Married,67546.0,0,0,2012-08-31,90,864,134,...,3,0,0,0,0,0,0,3,11,0
2747,1988,PhD,Married,67546.0,0,0,2012-08-31,90,864,134,...,3,0,0,0,0,0,0,3,11,0
5012,1989,Graduation,Married,28691.0,1,0,2013-07-04,56,5,4,...,8,0,0,0,0,0,0,3,11,0
6918,1989,Graduation,Married,28691.0,1,0,2013-07-04,56,5,4,...,8,0,0,0,0,0,0,3,11,0
4459,1989,Graduation,Single,30279.0,1,0,2012-12-30,13,10,4,...,8,0,0,0,0,0,0,3,11,0
10642,1989,Graduation,Single,30279.0,1,0,2012-12-30,13,10,4,...,8,0,0,0,0,0,0,3,11,0
6071,1989,Graduation,Single,81217.0,0,0,2013-07-19,77,493,70,...,1,0,0,0,0,0,0,3,11,0
295,1989,Graduation,Single,81217.0,0,0,2013-07-19,77,493,70,...,1,0,0,0,0,0,0,3,11,0
6864,1989,Master,Divorced,10979.0,0,0,2014-05-22,34,8,4,...,5,0,0,0,0,0,0,3,11,0
10617,1989,Master,Divorced,10979.0,0,0,2014-05-22,34,8,4,...,5,0,0,0,0,0,0,3,11,0
663,1989,PhD,Single,33996.0,0,0,2013-09-11,46,40,2,...,4,0,0,0,0,0,0,3,11,0
8299,1989,PhD,Single,33996.0,0,0,2013-09-11,46,40,2,...,4,0,0,0,0,0,0,3,11,0
2253,1990,Graduation,Married,18929.0,0,0,2013-02-16,15,32,0,...,6,0,0,0,0,0,0,3,11,0
2326,1990,Graduation,Married,18929.0,0,0,2013-02-16,15,32,0,...,6,0,0,0,0,0,0,3,11,0
1876,1990,Graduation,Married,18929.0,0,0,2013-02-16,15,32,0,...,6,0,0,0,0,0,0,3,11,0
3428,1991,PhD,Together,68682.0,0,0,2013-10-06,56,919,0,...,2,0,0,0,0,0,0,3,11,0
4500,1991,PhD,Together,68682.0,0,0,2013-10-06,56,919,0,...,2,0,0,0,0,0,0,3,11,0
3386,1992,Graduation,Married,34935.0,0,0,2013-06-21,71,34,4,...,7,0,0,0,0,0,0,3,11,0
8175,1992,Graduation,Married,34935.0,0,0,2013-06-21,71,34,4,...,7,0,0,0,0,0,0,3,11,0
2669,1993,Graduation,Single,74293.0,0,0,2014-05-04,66,375,152,...,2,0,0,0,0,0,0,3,11,0
10037,1993,Graduation,Single,74293.0,0,0,2014-05-04,66,375,152,...,2,0,0,0,0,0,0,3,11,0
8315,1995,Graduation,Single,34824.0,0,0,2014-03-26,65,4,2,...,6,0,0,0,0,0,0,3,11,0
5184,1995,Graduation,Single,34824.0,0,0,2014-03-26,65,4,2,...,6,0,0,0,0,0,0,3,11,0

In [62]:
ds[ds.duplicated(keep=False)].groupby(ds.columns.tolist()).size().reset_index().rename(columns={0:'records'}).sort_values(['Dt_Customer'])

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,records
164,1988,Graduation,Single,68655.0,0,0,2012-08-10,95,456,19,...,0,0,0,0,0,0,3,11,0,2
114,1974,Graduation,Married,67445.0,0,1,2012-08-12,63,757,80,...,0,0,0,0,0,0,3,11,0,3
130,1977,Graduation,Married,42014.0,1,0,2012-08-17,56,244,15,...,0,0,0,0,0,0,3,11,1,2
120,1975,Master,Single,46098.0,1,1,2012-08-18,86,57,0,...,0,0,0,0,0,0,3,11,0,2
106,1973,2n Cycle,Married,35688.0,2,1,2012-08-22,94,73,3,...,0,0,0,0,0,0,3,11,0,2
46,1961,Graduation,Married,60544.0,1,1,2012-08-25,92,201,2,...,0,0,0,0,0,0,3,11,0,2
156,1985,Graduation,Single,29760.0,1,0,2012-08-29,87,64,4,...,0,0,0,0,0,0,3,11,0,2
1,1946,Graduation,Together,37760.0,0,0,2012-08-31,20,84,5,...,0,0,0,0,0,0,3,11,0,2
165,1988,PhD,Married,67546.0,0,0,2012-08-31,90,864,134,...,0,0,0,0,0,0,3,11,0,2
41,1960,Graduation,Together,62807.0,0,1,2012-08-31,83,526,28,...,0,0,0,0,0,0,3,11,0,2
9,1949,Master,Together,49912.0,0,1,2012-09-07,5,520,8,...,1,0,0,0,0,0,3,11,1,2
131,1978,Basic,Together,24882.0,1,0,2012-09-09,52,1,4,...,1,0,0,0,0,0,3,11,0,2
104,1972,PhD,Single,86857.0,0,0,2012-09-12,96,899,102,...,0,0,0,0,0,0,3,11,1,2
113,1974,Graduation,Married,44989.0,0,1,2012-09-12,26,98,0,...,0,0,0,0,0,0,3,11,0,2
31,1956,Graduation,Together,54450.0,1,1,2012-09-14,0,454,0,...,0,0,0,0,0,0,3,11,0,2
115,1974,PhD,Divorced,25509.0,1,0,2012-09-18,15,40,3,...,0,0,0,0,0,0,3,11,1,2
36,1958,2n Cycle,Together,26490.0,0,0,2012-09-22,92,45,47,...,0,0,0,0,0,0,3,11,0,2
144,1982,2n Cycle,Together,66664.0,0,0,2012-09-25,78,398,96,...,0,0,0,0,0,0,3,11,0,2
78,1968,Graduation,Together,58554.0,1,1,2012-09-26,55,368,24,...,0,0,0,0,0,0,3,11,0,2
74,1966,Graduation,Together,37758.0,1,1,2012-10-04,49,27,2,...,0,0,0,0,0,0,3,11,0,2
157,1985,Graduation,Single,70596.0,0,0,2012-10-05,68,347,44,...,0,0,0,0,0,0,3,11,0,2
42,1960,Graduation,Together,63381.0,0,1,2012-10-05,78,571,50,...,0,0,0,0,0,0,3,11,0,2
138,1979,Graduation,Divorced,15287.0,1,0,2012-10-10,60,1,2,...,1,0,0,0,0,0,3,11,1,2
97,1971,Master,Together,80573.0,0,0,2012-10-14,85,829,138,...,0,0,0,0,0,0,3,11,0,2
126,1976,Graduation,Together,51369.0,0,1,2012-10-25,84,297,7,...,0,0,0,0,0,0,3,11,0,2
158,1986,Basic,Married,20425.0,1,0,2012-10-29,5,4,12,...,0,0,0,0,0,0,3,11,0,2
28,1955,Graduation,Together,42586.0,1,1,2012-10-29,7,194,2,...,0,0,0,0,0,0,3,11,1,2
22,1954,Graduation,Married,38998.0,1,1,2012-11-03,92,34,1,...,0,0,0,0,0,1,3,11,0,2
145,1982,Graduation,Married,69109.0,0,0,2012-11-09,10,823,25,...,0,0,1,0,0,0,3,11,1,2
73,1966,Graduation,Single,63810.0,0,1,2012-11-11,45,977,12,...,0,1,0,0,0,0,3,11,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,1974,2n Cycle,Married,20130.0,0,0,2014-03-17,99,0,6,...,0,0,0,0,0,0,3,11,0,2
175,1995,Graduation,Single,34824.0,0,0,2014-03-26,65,4,2,...,0,0,0,0,0,0,3,11,0,2
100,1972,Graduation,Married,65685.0,0,1,2014-03-29,54,642,14,...,0,0,0,0,0,0,3,11,0,2
29,1955,Master,Married,38452.0,1,1,2014-03-30,62,56,0,...,0,0,0,0,0,0,3,11,0,2
8,1948,PhD,Widow,82032.0,0,0,2014-04-05,54,332,194,...,0,0,0,0,0,0,3,11,0,2
62,1965,2n Cycle,Married,70924.0,0,0,2014-04-07,41,635,114,...,0,0,1,0,0,0,3,11,0,2
60,1964,PhD,Married,65526.0,0,1,2014-04-11,22,397,19,...,0,0,0,0,0,0,3,11,0,2
56,1963,PhD,Single,48918.0,1,1,2014-04-12,21,52,0,...,0,0,0,0,0,0,3,11,0,2
30,1955,PhD,Together,46015.0,1,1,2014-04-13,25,38,0,...,1,0,0,0,1,0,3,11,0,2
57,1964,Graduation,Married,42523.0,0,0,2014-04-23,96,14,36,...,0,0,0,0,0,0,3,11,0,2
76,1967,Graduation,Single,79146.0,1,1,2014-04-24,33,245,16,...,0,0,0,0,0,0,3,11,0,2
143,1981,2n Cycle,Together,75774.0,1,0,2014-05-02,27,340,21,...,0,0,0,0,0,0,3,11,0,2
141,1979,Graduation,Together,75507.0,0,0,2014-05-02,56,709,93,...,0,0,0,0,0,0,3,11,0,2
174,1993,Graduation,Single,74293.0,0,0,2014-05-04,66,375,152,...,0,0,0,0,0,0,3,11,0,2
110,1973,PhD,Married,37401.0,1,0,2014-05-06,14,19,3,...,0,0,0,0,0,0,3,11,0,2
13,1950,PhD,Widow,56551.0,1,1,2014-05-07,48,67,4,...,0,0,0,0,0,0,3,11,0,2
89,1970,Graduation,Single,20587.0,1,0,2014-05-11,39,2,3,...,0,0,0,0,0,0,3,11,0,2
107,1973,Graduation,Married,79593.0,0,0,2014-05-12,70,350,60,...,0,0,1,0,0,0,3,11,0,2
109,1973,PhD,Divorced,35860.0,1,1,2014-05-19,37,15,0,...,1,0,0,0,0,0,3,11,0,2
150,1983,Graduation,Married,30096.0,1,0,2014-05-22,30,5,3,...,0,0,0,0,0,0,3,11,0,2
17,1952,Graduation,Single,75127.0,0,0,2014-05-22,92,203,35,...,0,0,0,0,0,0,3,11,0,2
169,1989,Master,Divorced,10979.0,0,0,2014-05-22,34,8,4,...,0,0,0,0,0,0,3,11,0,2
10,1949,PhD,Together,67911.0,0,1,2014-05-22,63,529,0,...,0,0,0,0,0,0,3,11,0,2
48,1962,Graduation,Together,76081.0,0,0,2014-05-23,85,292,30,...,0,0,0,1,0,0,3,11,0,2
98,1971,PhD,Together,32892.0,1,0,2014-05-25,78,26,0,...,0,0,0,0,0,0,3,11,0,2
70,1966,Graduation,Married,44794.0,0,1,2014-06-08,99,54,0,...,0,0,0,0,0,0,3,11,0,2
5,1946,PhD,Together,64014.0,2,1,2014-06-10,56,406,0,...,0,0,0,1,0,0,3,11,0,2
45,1961,Basic,Married,28249.0,0,0,2014-06-15,80,1,9,...,0,0,0,0,0,0,3,11,0,2
84,1969,Graduation,Together,68695.0,0,0,2014-06-25,3,458,81,...,0,0,0,0,0,0,3,11,0,2
54,1963,Graduation,Married,80124.0,0,0,2014-06-26,47,483,84,...,1,0,0,0,0,0,3,11,0,2

Without the target variable

In [8]:
np.sum(ds.drop(['Response'], axis=1).duplicated())

201

<h3>Exploring missing values</h3>

In [23]:
def missing_values_reporter(df):    
    na_count = df.isna().sum() 
    ser = na_count[na_count > 0]
    return pd.DataFrame({"N missings": ser, "p missings": ser.divide(df.shape[0])})

rm_df_miss = missing_values_reporter(ds)
rm_df_miss

        N missings  p missings
Income          24    0.010714

Only the <strong>Income</strong> feature has missing values.